/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
/* @import 'font-awesome'; */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* border: 2px solid black; */
}
* {
	box-sizing: border-box;
}

body {
	font-family: 'Yusei Magic', sans-serif;
	background-color: #999;
}
.flex {
	display: flex;
}
.container {
	width: 100%;
	flex-direction: column;
	justify-content: center;
}
header {
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 30px;
}
.header-logo {
	font-size: 4rem;
	align-items: center;
	padding-left: 2%;
}
nav {
	width: 45%;
	justify-content: space-between;
	align-items: center;
	padding-right: 2%;
}
.nav-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	width: 150px;
	background-color: #eee;
	border: 2px solid black;
	border-radius: 3px;
	transition: 0.3s;
}
.nav-tab:hover {
	background-color: #555;
}
.nav-tab:hover a {
	color: #ccc;
}
.nav-tab:hover a:visited {
	color: #ccc;
}
.nav-tab a {
	color: #333;
	text-decoration: none;
	font-size: 2.2rem;
}
.nav-tab a:visited {
	color: #333;
}

.home {
	background-color: #333;
	color: white;
	border: 2px white;
}
.home a {
	color: white;
}
.home a:visited {
	color: white;
}
/* /////////////Hero Section Styles////////////// */

.hero-section-container {
	justify-content: center;
}

.hero-section {
	width: 85vw;
	height: 45vw;
	justify-content: center;
}

.hero-image {
	display: flex;
	width: 100%;
	background: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-section .hero-image {
	justify-content: center;
	align-items: center;
}
.hero-image button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	font-size: 3rem;
	background-color: #333;
	color: #ccc;
	border: none;
	border-radius: 20px;
	text-shadow: 2px 2px #000;
	box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
	font-family: 'Yusei Magic', sans-serif;
	outline: none;
	cursor: pointer;
}

.hero-image a {
	text-decoration: none;
	width: 35%;
}
.hero-image a:hover {
	width: 40%;
}
.hero-image a:hover button {
	height: 120px;
	font-size: 3.2rem;
	background-color: #ccc;
	color: #333;
}

/* ////////////Gallery Section Styles////////////// */
.gallery-section-container {
	justify-content: center;
}
.gallery {
	display: flex;
	margin-top: 100px;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}
.gallery-card {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
	height: 50vw;
}
.gallery-card h3 {
	color: #333;

	font-size: 2rem;
}
.gallery-image {
	border-radius: 10px;
	height: 40vw;
	width: 100%;
	justify-content: center;
}
.image {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
.image-1 {
	background: url(https://images.unsplash.com/photo-1553531888-a5892402adce?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
	background-size: cover;
	background-repeat: no-repeat;
}
.image-2 {
	background: url(https://images.unsplash.com/photo-1524168948265-8f79ad8d4e33?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
}
.image-3 {
	background: url(https://images.unsplash.com/photo-1506729623306-b5a934d88b53?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
}
.image-4 {
	background: url(https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=800);
	background-size: cover;
	background-repeat: no-repeat;
}
.image-5 {
	background: url(https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=800);
	background-size: cover;
	background-repeat: no-repeat;
}
.image-6 {
	background: url(https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=800);
	background-size: cover;
	background-repeat: no-repeat;
}
/* //////////////////Footer Styles/////////////// */
footer {
	background-color: #777;
	width: 100%;
	height: 250px;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	flex-direction: column;
}
footer button {
	font-size: 1.5rem;
	height: 50px;
	width: 175px;
	color: #333;
	background: #eee;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
.social-media-footer {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	height: 65px;
	width: 250px;
	font-size: 3.2rem;
}
.grow-container-footer {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a {
	font-size: 3rem;
	display: block;
	text-decoration: none;
	color: #333;
	transition: 0.3;
}
footer a:visited {
	color: #333;
}

footer div a:hover {
	color: #111;
	font-size: 3.5rem;
}

/* //////////////// Media Queries //////////////// */
@media (max-width: 950px) {
	header,
	nav {
		align-items: center;
		flex-direction: column;
	}
	nav {
		margin-top: 20px;
	}
	.header-logo {
		font-size: 4rem;
	}
	.hero-image button {
		font-size: 2rem;
		height: 70px;
		border-radius: 7px;
	}
	.hero-image button:hover {
		font-size: 2.2rem;
	}
	.hero-image a:hover button {
		height: 75px;
		font-size: 2.2rem;
		text-shadow: 1.5px 1.5px black;
	}
	.gallery-card h3 {
		font-size: 2rem;
	}
}
@media (max-width: 800px) {
	header,
	nav {
		align-items: center;
		flex-direction: column;
	}
	nav {
		margin-top: 20px;
	}
	.header-logo {
		font-size: 3.75rem;
	}
	.hero-image button {
		font-size: 1.6rem;
		height: 65px;
		border-radius: 7px;
	}
	.hero-image button:hover {
		font-size: 1.8rem;
	}
	.hero-image a:hover button {
		height: 70px;
		font-size: 1.8rem;
		text-shadow: 1.5px 1.5px black;
	}
	.gallery-card {
		margin-bottom: 20px;
	}
	.gallery-card h3 {
		font-size: 1.6rem;
	}
}
@media (max-width: 500px) {
	header,
	nav {
		align-items: center;
		flex-direction: column;
	}
	nav {
		margin-top: 20px;
	}
	.header-logo {
		font-size: 3rem;
	}
	.hero-image button {
		font-size: 1.25rem;
		height: 65px;
		border-radius: 7px;
	}
	.hero-image button:hover {
		font-size: 1.3rem;
	}
	.hero-image a:hover button {
		height: 70px;
		font-size: 1.3rem;
		text-shadow: 1px 1px black;
	}
	.gallery-section-container {
		justify-content: space-evenly;
		align-content: space-evenly;
	}
	.gallery-card {
		margin-bottom: 20px;
	}
	.gallery-card h3 {
		font-size: 1.25rem;
	}
	.social-media-footer {
		display: none;
	}
}
